@import "~bootstrap/dist/css/bootstrap.min.css";
body {

    background-color: rgba(12, 165, 12, 0.849);
}
.card {

}

.club {

}

.heart {
    color: red;

}

.diamonds {
    color: red;
}

.spades {

}