@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgba(12, 165, 12, 0.849);
  border: solid 2 px black;
}
#card {
  border: solid 2 px black;
  height: 7500px;
  width: 600px;
  background-color: white;
}

#cardNumber {
  color: black;
}

#cardClub {
  color: red;

  width: 15px;
  height: 15px;
}
